/* Header.module.css */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* mejor distribución */
  padding: 12px 24px;
  background-color: #06213b; /* azul elegante */
  color: white;
}

